<!DOCTYPE html>
<html>
  <head>
    <title>接口文档</title>
    <link rel='stylesheet' href='/public/css/bootstrap.css' />

  </head>
  <body>
	<div class="container">
		<h1>大实训电商项目接口文档</h1>
		<table class="table table-bordered">
			<tr>
				<td>接口名称</td>
				<td>请求方式</td>
				<td>请求参数</td>
				<td>返回json数据</td>
			</tr>
			<tr>
				<td>
					<a href="/user/list">所有用户列表接口</a>
				</td>
				<td>
					请求get
				</td>
				<td>
					无
				</td>
				<td>
				</td>
			</tr>
			<!-- <tr>
				<td>
					<a href="/hotCar">热销汽车展示列表接口</a>
				</td>
				<td>
					请求get
				</td>
				<td>
					无
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/newCar">最新车辆展示列表接口</a>
				</td>
				<td>
					请求get
				</td>
				<td>
					无
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/discounts">限量直降车辆展示列表接口</a>
				</td>
				<td>
					请求get
				</td>
				<td>
					无
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/choiceness">精选车辆展示列表接口</a>
				</td>
				<td>
					请求get
				</td>
				<td>
					无
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/api/selectcar.json">选车数据</a>
				</td>
				<td>
					请求get
				</td>
				<td>
					无
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/api/brand.json">品牌</a>
				</td>
				<td>
					请求get
				</td>
				<td>
					无
				</td>
				<td>
				</td>
			</tr> -->
		</table>
	</div>
  </body>
</html>
